<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Todo Client</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/libs/angular.js"></script>
  </head>
  <body>

      <div class="todo" ng-controller="TodoController as todo">
        <form class="todo__form" ng-submit="todo.addTodo()">
          <input type="text" placeholder="Add new todo!"
          ng-model="todo.newTodo">
        </form>
        <ul ng-repeat="item in todo.list" class="todo__list">
          <li>
            <input type="checkbox" id="todo-{{ $index }}" ng-model="item.completed" ng-change="todo.toggleState(item, index)">
            <label class="toggle" for="todo-{{ $index }}"></label>
            <p ng-dblclick="showEditField = true" ng-hide="showEditField">{{ item.title }}</p>
            <div ng-show="showEditField">
              <input type="text" ng-model="item.title" ng-blur="todo.updateTodo(item, $index); showEditField = false">
            </div>
            <a href="" ng-click="todo.removeTodo(item, $index)">&#215;</a>
          </li>
        </ul>
        <p class="todo__remaining">
          <span ng-show="todo.getRemaining().length > 0">
            You have {{ todo.getRemaining().length }} of {{ todo.list.length }} items todo!
          </span>
          <span ng-show="todo.getRemaining().length === 0">
            You are super productive!
          </span>
        </p>
      </div>

      <script src="js/app.js"></script>
      <script src="js/todo.controller.js"></script>
      <script src="js/todo.service.js"></script>
  </body>
</html>
