<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>My Angular App</title>
  <script src="js/angular.js"></script>
</head>
<body>

  <div ng-controller="MoviesController as movies">
    <ul>
      <li ng-repeat="movie in movies.favorites">
          <p>{{$index}} - {{ movie.title }}</p>
          <p>Released in: {{ movie.year }}</p>
          <p ng-if="movie.popular">This movie is popular!</p>
          <p ng-if="movie.year > '2000'">
            This movie is quite new!
          </p>
      </li>
    </ul>
  </div>

  <script src="js/app.js"></script>
  <script src="js/moviesController.js"></script>
</body>
</html>
