<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>My Angular App</title>
  <script src="js/angular.js"></script>
  <style media="screen">

  </style>
</head>
<body>

  <p ng-controller="MainController as main">
    {{ main.text | uppercase }}

    {{ main.obj }}
    <br>
    <a href="#" ng-click="key = 0">0</a>
    <a href="#" ng-click="key = 1">1</a>
    <a href="#" ng-click="key = 2">2</a>

    {{ main.arr }} => {{ main.arr[key] }}

    {{ main.doesNotExist }}

    {{ main.num | currency: "R$": 2 }}
    <br>
    {{ main.date | date: "dd/MM/yyyy" }}

  </p>

  <script src="js/app.js"></script>
  <script src="js/mainController.js"></script>
</body>
</html>
