<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>My Angular App</title>
  <script src="js/angular.js"></script>
  <style media="screen">

  </style>
</head>
<body>

  <div ng-controller="UserController as user">
    <a href="#" ng-click="user.getAllUsers()">Get All Users</a>
    <br><br>
    <form ng-submit="user.getUser();">
      <input type="text" ng-model="user.userId" my-stretch>
      <button type="submit">Search User</button>
    </form>

    <pre> {{ user | json }} </pre>
  </div>

  <script src="js/app.js"></script>
  <script src="js/userController.js"></script>
  <script src="js/userService.js"></script>
  <script src="js/stretch.directive.js"></script>
</body>
</html>
