<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>My Angular App</title>
  <script src="js/angular.js"></script>
</head>
<body>
  <div ng-controller="OrderController as order">
    <h1>Order count: {{ order.orderQuantity }}</h1>
    <counter country="{{ order.orderCountry }}" name="{{ order.orderName }}" count="order.orderQuantity"></counter>
  </div>


  <script src="js/app.js"></script>
  <script src="js/counterController.js"></script>
  <script src="js/orderController.js"></script>
  <script src="js/counter.directive.js"></script>
</body>
</html>
