<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>My Angular App</title>
  <script src="js/angular.js"></script>
</head>
<body>

  <div ng-controller="MainController as main">
    {{main.name}}

    <div ng-controller="AnotherController as another">
      {{another.name}} {{main.name}}
    </div>
  </div>

  <script src="js/app.js"></script>
  <script src="js/mainController.js"></script>
  <script src="js/anotherController.js"></script>
</body>
</html>
