<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Todo Client</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/libs/angular.js"></script>
  </head>
  <body>

      <div ng-controller="TodoController as todo">
        {{ todo.list }}
      </div>

      <script src="js/app.js"></script>
      <script src="js/todo.controller.js"></script>
  </body>
</html>
