<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>My Angular App</title>
  <script src="js/angular.js"></script>
  <style media="screen">

  </style>
</head>
<body>

  <div ng-controller="MainController as main">

      <input type="text" ng-model="main.person.location">
      <pre>{{ main.person | json }}</pre>
  </div>

  <script src="js/app.js"></script>
  <script src="js/mainController.js"></script>
</body>
</html>
