<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>My Angular App</title>
  <script src="js/angular.js"></script>
  <style media="screen">
    .old { background: crimson; }
    .modern { background: cornflowerblue; }
    .new { background: aquamarine; }
  </style>
</head>
<body>

  <div ng-controller="MoviesController as movies">
    <form ng-submit="movies.addMovie()">
      <h1>
        Add a movie {{ movies.focus }}
      </h1>
      <input type="text" placeholder="Title"
        ng-model="movies.newMovie.title"
        ng-focus="movies.onFocus()"
        ng-blur="movies.onBlur()"
        ng-change="movies.onChange()">
      <input type="text" placeholder="Release year" ng-model="movies.newMovie.year">
      <label for="movie-is-popular">Movie is popular?
        <input type="checkbox" ng-model="movies.newMovie.popular" id="movie-is-popular">
      </label>

      <button type="submit" name="button">Add new movie</button>
      <hr>
    </form>

    <h1 ng-if="movies.likesList.length">Liked Movies</h1>
    <ul>
      <li ng-repeat="like in movies.likesList">
        {{ like.title }} - <a href="" ng-click="movies.unlike($index)">Unlik this movie</a>
      </li>
    </ul>
    <hr ng-if="movies.likesList.length">
    <ul>
      <!-- ngclass use object or ternary operator -->
      <!-- ex: ng-class="movie.year < 1995 ? 'old' : 'modern'" -->
      <li
        ng-class="{
          old: movie.year < 1995,
          modern: movie.year >= 1995 && movie.year < 2000,
          new: movie.year >= 2000
        }"

        ng-repeat="movie in movies.favorites">
          <p>
            <a href="" ng-click="movies.addToLinks(movie)">Like this movie!</a>
          </p>
          <p ng-if="movie.cover">
            <img ng-src="//ia.media-imdb.com/images/M/{{movie.cover}}" alt="" />
          </p>
          <p>{{$index}} - <a ng-href="//www.imdb.com/title/{{movie.imdb}}" target="_blank">{{ movie.title }}</a></p>
          <p>Released in: {{ movie.year }}</p>
          <p ng-if="movie.popular">This movie is popular!</p>
          <p ng-if="movie.year > '2000'">
            This movie is quite new!
          </p>
          <div ng-switch="movie.category">
            <p ng-switch-when="action">Action movie!</p>
            <p ng-switch-when="fantasy">Fantasy movie!</p>
            <p ng-switch-when="war">War movie!</p>
            <p ng-switch-default>Movie has no category</p>
          </div>
          <input type="text" ng-model="movie.year">
      </li>
    </ul>
  </div>

  <script src="js/app.js"></script>
  <script src="js/moviesController.js"></script>
</body>
</html>
