<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>My Angular App</title>
  <script src="js/angular.js"></script>
  <style media="screen">

  </style>
</head>
<body>

  <p ng-controller="MainController as main">

    {{ main.date | date: "EEE dd/MM/yyyy hh:mm a" }}
    <br>
    {{ main.date | date: "EEEE dd/MMM/yy HH:mm" }}

  </p>

  <script src="js/app.js"></script>
  <script src="js/mainController.js"></script>
</body>
</html>
