<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>My Angular App</title>
  <script src="js/angular.js"></script>
</head>
<body>

  <div ng-controller="MoviesController as movies">
    <ul>
      <li ng-repeat="movie in movies.favorites">
          <span>{{$index}} - {{ movie.title }}</span>
          <span>Released in: {{ movie.year }}</span>
      </li>
    </ul>
  </div>

  <script src="js/app.js"></script>
  <script src="js/moviesController.js"></script>
</body>
</html>
